Kelompok3_DeteksiMasker_CNN_Paper.docx
Kelompok3_DeteksiMasker_CNN_Dataset.txt
Kelompok3_DeteksiMasker_CNN_Code.ipynb
Kelompok3_DeteksiMasker_CNN.txt
conference-template-a4(1).docx
UAS Machine Learning.pdf

refs/